body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: 0px;
    background: #FFFFFF;

}

.page-header{
    border: 1px solid #EEEEEE;
   
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
}

.page-header-container{
 display: flex;   
 align-items: center;
}

.page-nav{
    display: flex;
    margin-top: 24px;
    margin-bottom: 25px;
}

.logo{
    text-decoration:none;
    color: #000000;
    font-family:  'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;
}

.logo-blue {
color: #2196F3;
font-weight: 700;
font-family: 'Raleway', sans-serif;
font-style: Bold;
font-size: 26px;
}


.menu{
    display: flex;
    align-items:center;
    list-style: none;

   
}

.page-header-contact-container {
    display: flex;   
    align-items: center;
    margin-left: auto;}

.menu-item{
    margin-right:50px ;
  }
  
  .menu-item:last-child {
      margin-right: 0;}
      
      .menu-link{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        }
        
        .menu-link:hover,
        .menu-link:focus{
            color: #2196F3;

        }

.menu-contact{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items:center;
    margin-left: auto;
    }

    .menu-item-contact{
        margin-right:50px ;
        display: flex;
      }

      .menu-item-contact:last-child {
        margin-right: 0;}

        

.contacts-email{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
    display: flex;
}

.contacts-phone-number{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:#757575;
display: flex;
}


.title{
    visibility: hidden;
}


.section-photo{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

.box-btn{
    display:flex;
    align-items:center;
    margin-bottom: 34px;
    margin-left: 295px;
}

.portfolio-btn{
    left: 976px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    margin-right: 8px;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
border: none;
padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus{ 
 background:#2196F3;
 color: #FFFFFF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-string{
    display: flex;
    gap: 30px;
}


.photo-string:nth-last-child(-n + 3){
    margin-bottom: 30px;}


.card-list{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;

}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 4px;
}

.card-dscr{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
    margin-bottom: 20px;
}

.footer{
    width: 1600px;
    height: 252px;
    background: #2F303A;
}

.footer-box-logo{
    padding-top: 60px;
}

.logo-link{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
    
    }

.footer-address{
    margin-top: 20px;
    margin-bottom: 9px;
   
}  


.location{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;

}

.contact-footer{
    margin-bottom: 9px;
}

.contact-email {
width: 231px;
height: 21px;
left: 215px;
top: 2238px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 14px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}

.contact-phone{
width: 231px;
height: 21px;
left: 215px;
top: 2238px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 14px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
padding-bottom: 60px;
}
.link {
    text-decoration:none;
}

h1, h2, h3, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

address {
    font-style: normal;
}

button{
    cursor: pointer;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}

